{% extends "base.html" %}
{% block content %}

<section class=" developers_layout my-5">
	<div class="dev">
	<div class="container-fluid"">
		<div class="row">
		<div class="col-md-6">
		<div class="block-b">
			<h2 class="h1-responsive font-weight-bold">About Estatix Systems</h2>
			<p>The answer to all your Photography Branding and General printing Problems.<br>Our Highly create graphic team designs various attractive logos, <br>Illustrations to suit the company needs of our Patrins.<br/>
			We provide insight and technical exparties to each and every one of our customers and becomes our clients partner in achieving competitive edge.</p>
			</div>
		</div>
	  <div class="col-md-6">
		<div class="developers_block">
		 <h2 class="h1-responsive font-weight-bold">Estatix Background</h2>
		 <p>Estatix Systems is a private company in Kenya registered in 2014 under <span>NUMBER BN/201431015</span>pursuant to and in accordance with the provision of the registration of Business Name Act (Cap 199 section 14) and rules made there under.</p>
		</div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	</div>
</section>

<div class="container-fluid">
<div class="sector">
	<div class="row">
		<div class="col-md-6">
		 <img src="../static/hj.jpg" class="rounded z-depth-1-half backInUp" data-wow-delay="0.6s"
		  >
		</div>

		<div class="col-md-6">
		<h2>Estatix Scope Business</h2>
		<br>
		<p class="wow fadeInLeft" data-wow-duration="6s">We look to expand our clientel base and break Kenya's borders eventuallys and become a player on cotinental stage which will finally place us on the path to be leading global name in our business sector</p>
	<br><br>
	<button type="button" class="btn btn-danger">Connect With Us</button>
		<button type="button" class="btn btn-deep-purple">New Designs</button>

		</div>
	
		</div>
	</div>
</div>

<section class="benaa" style="top: -80px">
	<div class="ben-xx">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-8">
	<br>
	<p>Design covers much more than just the outward appearance of products or the graphic elements of things such as your website, packaging and marketing materials. It plays a part in nearly every aspect of what most businesses do.</p>
	<a href='{% url "systems:job" %}' class="btn-style-eight1 pull-right">Post Your Graghic Job </a>
		<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	</div>
	<div class="col-md-4">
	</div>

	</div>
</section>



<!-- Section: Team v.2 -->
<section class="team-section my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5" style="font-weight: 500; color: #ffffff; font-size: 40px; padding-left: 50px;">Our amazing team</h2>
  <!-- Grid row -->
  <div class="row text-center">

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="../static/be.jpg" class="rounded z-depth-1-half" alt="Sample avatar" 
        style="width: 250px; height: 250px;">
      </div>
      <h4 class="font-weight-bold dark-grey-text my-4">benah Mmojah</h4>
      <h6 class="text-uppercase grey-text mb-3"><strong>GGraphic Designers Photographer</strong></h6>
      <!-- Facebook-->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!--Dribbble -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
        <i class="fab fa-dribbble"></i>
      </a>
      <!-- Twitter -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <!-- Grid column -->
   <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="../static/mys.JPG" class="rounded z-depth-1-half" alt="Sample avatar" style="width: 280px; height: 250px;">
      </div>
      <h4 class="font-weight-bold dark-grey-text my-4">Wagole Musa</h4>
      <h6 class="text-uppercase grey-text mb-3"><strong>Full Stack Software Developer</strong></h6>
      <!-- Facebook-->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!--Dribbble -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
        <i class="fab fa-dribbble"></i>
      </a>
      <!-- Twitter -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <!-- Grid column -->
<!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
      </div>
      <h4 class="font-weight-bold dark-grey-text my-4">Maria Kate</h4>
      <h6 class="text-uppercase grey-text mb-3"><strong>Photographer</strong></h6>
      <!-- Facebook-->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!--Dribbble -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
        <i class="fab fa-dribbble"></i>
      </a>
      <!-- Twitter -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="../static/zk.jpg" class="rounded z-depth-1-half" alt="Sample avatar" style="width: 280px; height: 250px;">
      </div>
      <h4 class="font-weight-bold dark-grey-text my-4">Zacky Zack</h4>
      <h6 class="text-uppercase grey-text mb-3"><strong>Le Graphique Internationale</strong></h6>
      <!-- Facebook-->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!--Dribbble -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
        <i class="fab fa-dribbble"></i>
      </a>
      <!-- Twitter -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.2 -->


{% endblock content %}