
<div class="customer-logos">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-2 col-xl-2">
            <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image1.png"></div>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">
            <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image2.png"></div>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">
            <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image3.png"></div>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">
            <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image4.png"></div>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">
            <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image5.png"></div>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">
            <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image6.png"></div>
        </div>
        </div>

    </div>
</div>