
<nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
  <img class="navbar-brand" src=../static/LOGO.png id="logo_custom" width="7%"  alt="logo">
  <button class="navbar-toggler
    navbar-toggler-rightcustom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon "></span>
  </button>
<div class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'systems:home' %}"><b>Home</b></a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'systems:about' %}"><b>About</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'systems:services' %}"><b>Services</b></a>
    </li>  
      <li class="nav-item">
      <a class="nav-link" href="{% url 'systems:work' %}"><b>Our Work</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'systems:job' %}"><b>Post-Job</b></a>
    </li> 
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'systems:contact' %}"><b>Contact</b></a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="#"><b>Login</b></a>
    </li>  
  </ul>
</div>  
</nav>



