
<nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
  <img class="navbar-brand" src="http://acmsocc.github.io/2016/assets/img/googlelogo_color_324x112dp.png" id="logo_custom" width="10%"  alt="logo">
  <button class="navbar-toggler
    navbar-toggler-rightcustom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon "></span>
  </button>
<div class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" href="#offer"><b>Home</b></a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><b>About</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><b>Services</b></a>
    </li>  
      <li class="nav-item">
      <a class="nav-link" href="#"><b>Work</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><b>Post-Job</b></a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="#"><b>Login</b></a>
    </li>  
  </ul>
</div>  
</nav>



